.avatar {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    color: #666;
    font-weight: bold;
}

.small {
    width: 24px;
    height: 24px;
    font-size: 0.8rem;
}

.medium {
    width: 32px;
    height: 32px;
    font-size: 1rem;
}

.large {
    width: 48px;
    height: 48px;
    font-size: 1.2rem;
}